<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Login</title>
    <!-- ======================JS引入================================== -->
    <!-- jQuery必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <!-- bootstrap.bundle.min.js 用于弹窗、提示、下拉菜单，包含了 popper.min.js -->
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <!-- Bootstrap4 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- Font Awesome -->
    <link href="https://cdn.bootcdn.net/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">

    <!-- ======================CSS引入================================== -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    
</head>

<body>
  <!-- Header Part Start -->



<header class='header-area'>
  <!-- header-top -->
  <div class='header-top'>
    <div class='container'>
      <div class='row'>
        <div class='col-lg-12'>
          <div class='header-top-item d-block d-md-flex justify-content-between align-items-center'>
              <div class='header-contact'>
                <ul>
                 <li><a href='tel:+125123658'>Call us: CS631-631-631</a></li>
                 <li><a href='mailto:XXX'>Email: dz9@njit.edu</a></li>
                </ul>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- header-main-->
  <div class='main-header'>
    <div class='container'>
        <div class='row align-items-center'>
            <div class='col-lg-2 col-md-3'>
                <div class='logo'>
                    <a href='/'><img src='/images/NFClogo.png' height=90px alt='logo'></a>
                </div>
            </div>
        </div>
    </div>
  </div>

  <!-- header-menu(navi&cart&account) -->
  <div class='header-menu'>
    <div class='container'>
      <div class='row'>
        <div class='col-lg-12'>
          <div class='navigation'>
            <nav class='navbar navbar-expand-lg navbar-light '>

                <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
                    <span class='toggler-icon'></span>
                    <span class='toggler-icon'></span>
                    <span class='toggler-icon'></span>
                </button> <!-- navbar toggler -->

                <div class='collapse navbar-collapse sub-menu-bar' id='navbarSupportedContent'>
                  <ul class='navbar-nav mr-auto'>
                    <li class='nav-item active'><a class='nav-link' href='/'>Home</a></li>
                    <li class='nav-item'>
                      <a class='nav-link' href='/account'>Account</a>
                    </li>
                    <li class='nav-item'>
                      <a class='nav-link' href='/about'>About</a>
                    </li>
                  </ul>
                </div> <!-- navbar collapse -->
           </nav>
        </div> <!-- navigation -->

       </div>
     </div>
   </div>
  </div>
</header>
<!-- Header Part End-->
<br><br>
<section class="col-sm-4 m-auto pt-50">
        
<div class="card">
<article class="card-body">
<a href="/register" class="sign-up-btn float-right btn btn-outline-primary" style="border-color: #1695A3; color: #1695A3">Sign up</a>
<h4 class="card-title mb-4 mt-1">Log in</h4>
     
    <div class="form-group">
        <label>Your email</label>
        <input name="user" class="form-control" placeholder="Email" type="email">
    </div>

    <div class="form-group">
        <label>Your password</label>
        <input name="pwd" class="form-control" placeholder="******" type="password">
    </div> <!-- form-group// --> 

    <div class="form-group">
        <input type="submit" value="Login" id="btn-login" style="background-color: #1695A3;" class="btn btn-primary btn-block">
        <span class="spa1"></span>
    </div> <!-- form-group// -->                                                           

</article>
</div> 
</section> <!-- col.// -->

    
</body>

</html>
<script>
//-----------------------AJAX for login----------------------------------
$(function(){
     $('#btn-login').click(function(){ //当按下登录按钮的时候，启动下面的js
         var user=$('input[type=email]')
         var pwd=$('input[type=password]')
         var logindata={user:user.val(),pwd:pwd.val()}
         if(user.val().length==0||pwd.val().length==0){
            $('.spa1').text('Id or password CANNOT be empty'); //首先id和pwd不能为空
         }else{
             $.ajax({ //只有满足了才能开始ajax，向后端post上面定义好的logindata，并且指定这个ajax的url是/login

                 type:'post',
                 url:'/login',//后端通过这个url来识别这次ajax
                 dataType:'json',
                 data:logindata,
                 success:function(data){
                     if(data.code>0){ //如果后端传来的datacode大于0,说明登录成功
                        window.location.href='/'; //此处选择了跳转首页，window.location是前端跳转的方式
                         // alert("Login Succeed！"); //可以选择弹出对话框
                        // $('.spa1').text(data.msg) //可以选择在网页上显示后端传来的登陆成功的msg
                     }else{
                        $('.spa1').text(data.msg);
                       }
                 },
                 error:function(error){
                     console.log(error)
                 }
             })
         }
     })

 })
</script>