 <!-- header-main-->
        <div class='main-header'>
            <div class='container'>
                <div class='row align-items-center'>
                    <div class='col-lg-2 col-md-3'>
                        <div class='logo'>
                            <a href='/'><img src='/images/NFClogo.png' height=90px alt='logo'></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- header-menu(navi&cart&account) -->
        <div class='header-menu'>
            <div class='container'>
                <div class='row'>
                    <div class='col-lg-12'>
                        <div class='navigation'>
                            <nav class='navbar navbar-expand-lg navbar-light '>
                                <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
                                    <span class='toggler-icon'></span>
                                    <span class='toggler-icon'></span>
                                    <span class='toggler-icon'></span>
                                </button> <!-- navbar toggler -->
                                <div class='collapse navbar-collapse sub-menu-bar' id='navbarSupportedContent'>
                                    <ul class='navbar-nav mr-auto'>

                                        

                                        <li class='nav-item'>
                                            <div class="dropdown" style="margin-left: 20px;">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Customer</a>
                                                <div class="dropdown-menu" style="background-color: #de7e00;">
                                                    <a class="dropdown-item" href="/newCustomer" id="">Creare New</a>
                                                    <a class="dropdown-item" href="/customerInfo">Customer Operation</a>
                                                </div>
                                            </div>
                                        </li>

                                      <li class='nav-item active'><a class='nav-link' href='/inventory'>Inventory</a></li>

                                        <li class='nav-item'>
                                            <div class="dropdown" style="margin-left: 20px;">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Order</a>
                                                <div class="dropdown-menu" style="background-color: #de7e00;">
                                                    <a class="dropdown-item" href="/orderCustomer" id="">Orders for Cutomers</a>
                                                    <a class="dropdown-item" href="/orderEnd">Orders for Endusers</a>
                                                </div>
                                            </div>
                                        </li>

                                        <li class='nav-item active'><a class='nav-link' href='/warehouseInfo'>Warehouse</a></li>


                                        <li class='nav-item active'><a class='nav-link' href='/employee'>Employee</a></li>



                                    </ul>
                                </div> <!-- navbar collapse -->
                                <div class='navbar-btn d-flex'>
                                    <ul>
                                        <li><a href=''>
                                            <i class='fa fa-user'></i><span><%=adminInfo.position%>:</span><span><%=adminInfo.name%></span></a></li>
                                        <li style="border: none; text-decoration: underline;"><a href="/logout">LOG OUT</a></li>
                                    </ul>
                                </div>
                            </nav>
                        </div> <!-- navigation -->
                    </div>
                </div>
            </div>
        </div>